<div class="animated fadeIn">
  <div class="row" style="padding-top: 10px;">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Nueva Habilidad</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="form-group col-lg-3">
              <label>Habilidad </label>
              <input type="text" class="form-control" [(ngModel)]='form.nombre'>
            </div>
            <div class="form-group col-lg-2" style="margin-top:0.5em">
              <br>
              <button [disabled]="!form.nombre" *ngIf="!validador.actualizar" class="btn btn-primary"
                (click)='agregarhabilidad()'>Guardar</button>
              <button *ngIf="validador.actualizar" class="btn btn-primary" (click)='guardar()'>Actualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <table class="table table-sm table-striped" [svData]="habilidades" #sv="svDataTable" [svRowsOnPage]="10" svSortBy="nombre">
      <thead>
        <tr>
          <th>
            <sv-default-sorter by="nombre">Nivel</sv-default-sorter>
          </th>
          <th>
            Edición
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let habilidad of sv.data'>
          <td>{{habilidad.nombre}}</td>
          <th><button name='guardar' class='btn btn-sm btn-primary' (click)='verhabilidad(habilidad)'>Editar</button></th>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>