<div class="animated fadeIn">
    <div class="col-lg-12">
        <div class="row">
            <div class=" col-lg-3">
                <label>Filtro:</label>
                <input type="text" class="form-control inputText" [(ngModel)]='form.busqueda'
                    placeholder="Radiofusora - Tráfico">
            </div>
            <div class=" col-lg-3">
                <label>Búsqueda:</label>
                <input type="text" class="form-control inputText" [(ngModel)]='form.busquedaRadiofusora'
                    placeholder="Radiofusora">
            </div>
            <div class=" col-lg-2">
                <button class="btn btn-primary btnBusqueda btnBusqueda mt-2 "
                    (click)="buscarRadiofusora()">Buscar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-3" style="padding-top: 20px;">
        <div class="tarjetaResponsiva">
            <div class="table-responsive">
                <table class="table table-sm table-striped" [svData]="radiofusoras.datosRadiofusoras"
                    style="overflow-x: auto;" #sv="svDataTable" *ngIf="showTable">
                    <thead>
                        <tr>
                            <th>Radiobase</th>
                            <th *ngFor='let fecha of radiofusoras.listaFechas'>{{fecha}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let radiofusora of sv.data  | filter : form.busqueda'>
                            <td class="w-25" *ngFor='let trafico of radiofusora' [ngClass]="{
                                'rojo': trafico < 16,
                                'naranja': trafico > 15 && trafico < 41,
                                'amarillo': trafico > 40 && trafico < 91,
                                'verde': trafico > 90,
                                'gris': trafico == 0}">{{trafico}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="justify-content: center;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-link" (click)="anterior()"> &#60; </li>
                        <li class="page-link" (click)="siguiente()"> > </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-elastic-dots">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>