.rojo {
   background-color: #aa3f3f;
}

.naranja {
   background-color: #f48b08;;
}

.amarillo {
   background-color: #dcd740;
}

.verde {
   background-color: #2ad000;
}

.gris {
   background-color: #d1d1d1;
}

.inputText {
   background: transparent;
   border: 0;
   border-bottom: 1px solid;
}

.btnBusqueda {
   width: 100%;
   border: 0;
   border-radius: 7px;
}

.tarjetaResponsiva{
   position: absolute;
   overflow: auto;
   max-width: 95%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid #2222464d;
   border-radius: .25rem;
}