<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-block">
                            <p class="text-muted mb-3">Ingresar a su cuenta de usuario</p>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Usuario" name='usuario'
                                    [(ngModel)]='form.usuario'>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Contraseña" name='password'
                                    [(ngModel)]='form.password'>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4"
                                        (click)="login()" *ngIf="!loader">Continuar</button><br>
                                    <button class="buttonload btn btn-primary px-4" *ngIf="loader">
                                        <i class="fa fa-spinner fa-spin"></i> Loading
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>