<header class="app-header navbar" style="padding: 0px 40px; background-color: #002597;">
    <div class="w-100">
        <img src="'../../assets/img/telcel.jpg" width="110px">
    </div>

</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/radiofusora']"> Radiofusoras </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/habilidad']"> Habilidades </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/empleados']"> Personal </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <main class="main">
        <br>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://www.google.com.mx/ ">Radiofusoras</a> &copy; 2020.
</footer>