<div class="animated fadeIn">
    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Personal</strong>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]='form.nombre' value='{{form.nombre}}'>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Email</label>
                            <input type="email" class="form-control" [(ngModel)]='form.email' value='{{form.email}}'>
                        </div>
                       
                        <div class="form-group col-lg-4">
                            <label>Puesto</label>
                            <input type='text' class="form-control" [(ngModel)]='form.puesto' value='{{form.puesto}}'>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Fecha de nacimiento</label>
                            <input type="date" class="form-control" [(ngModel)]='form.fecha'
                                value='{{form.fecha}}'>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="checkbox">
                                <label>Domicilio</label>
                                <input type='text' class="form-control" [(ngModel)]='form.domicilio'
                                    value='{{form.domicilio}}'>
                            </div>
                        </div>
                              <div class="form-group col-lg-4">
                            <label for="habilidades">Habilidad</label>
                            <select multiple class="form-control" name='habilidades' [(ngModel)]='form.habilidades'>
                                <option *ngFor="let habilidad of habilidades" value="{{habilidad._id}}">
                                    {{habilidad.nombre}}</option>

                            </select>
                        </div> 
                    </div>
                    <div class='row'>
                        <div class="form-group col-lg-4">
                            <button [disabled]="!form.nombre" type="button" *ngIf="!showBoton"
                                class="btn btn-sm btn-primary" (click)='guardarempleado()'>
                                Registrar</button>
                            <button type="button" class="btn btn-sm btn-primary" *ngIf='showBoton'
                                [disabled]="!form.nombre" (click)='actualizarempleado()'>
                                Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table" [svData]="empleados" #sv="svDataTable" [svRowsOnPage]="10" svSortBy="nombre">
            <thead>
                <tr>
                    <th>
                        <sv-default-sorter by="nombre">Nombre</sv-default-sorter>
                    </th>
                    <th>
                        <sv-default-sorter by="email">Email</sv-default-sorter>
                    </th>
                    <th>
                        <sv-default-sorter by="puesto">Puesto</sv-default-sorter>
                    </th>
                    <th>
                        <sv-default-sorter by="fecha">Fecha de nacimiento</sv-default-sorter>
                    </th>
                    <th>Ver personal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let empleado of sv.data'>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.email}}</td>
                    <td>{{empleado.puesto}}</td>
                    <td>{{empleado.fecha}}</td>
                    <td><button (click)="verempleado(empleado._id)" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>